<br>
<div class="container">
  <div class="row">

    <!-- The list of questionnaires -->
    <div class="col-6">
      <h3 style="text-align: center;">Liste des questionnaires<a (click)="addQuestionnaire()" class="btn-floating btn-large waves-effect waves-light pulse blue" style="margin-left:10%"><i class="material-icons">add</i></a></h3>
      <div class="col-6" style="  max-width: 25%;"><ng2-completer  [(ngModel)]="searchStr" [autoMatch]= "true" [datasource]="dataService" [minSearchLength]="0" placeholder="Recherche ..."></ng2-completer></div>
      <table class="table highlight ">
        <thead>
        <tr>
          <td><strong>Nom</strong></td>
          <td><strong>Generique</strong></td>
          <td><strong>Actif</strong></td>
           <td>Editer</td>
            <td>Supprimer</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let questionnaire of collection | paginate: { itemsPerPage: 10, currentPage: p } | filterBy:{nom: searchStr}"
            (click)="goEtablissement(etablissement.id)">
          <td>{{ questionnaire.nom}}</td>
          <td>{{ questionnaire.generique}}</td>
          <td>{{ questionnaire.actif}}</td>
          <td><i class="material-icons">mode_edit</i></td>
          <td><i class="material-icons">delete</i></td>
        </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
