<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
		<div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Gestion des conseils de classes FCPE</span>
			<div class = "mdl-layout-spacer"></div>
		 </div>
  </header>
	 <div class = "mdl-layout__drawer">
	 <span class="mdl-layout-title">Welcome to G2C_FCPE</span>
	 <nav class="mdl-navigation">
	       <a class="mdl-navigation__link" href="" style="color:blue" >Voir les campagnes</a>
             <a class="mdl-navigation__link" href="" style="color:blue" >Créer des questionnaires</a>
             <a class="mdl-navigation__link" href="" style="color:blue" >Visualiser les résultats</a>
	 </nav>
	 </div>
    <main class="mdl-layout__content">
	      <div class="mdl-tabs mdl-js-tabs">
          <div class="mdl-tabs__tab-bar">
		         <a href="#tab5-panel" class="mdl-tabs__tab is-active">Introduction</a>
             <a routerLink='etablissements' class="mdl-tabs__tab">Adminitration</a>
             <a class="mdl-tabs__tab">Questionnaire/Questions</a>
             <a href="#tab3-panel" class="mdl-tabs__tab">Visualisation des résultats</a>
		         <a href="#tab4-panel" class="mdl-tabs__tab">Gestion des campagnes</a>
          </div>
        </div>

<router-outlet></router-outlet>
</main>
</div>