<div class="container" style="margin-top: 52px">
  <div class="row">
  <div class="col s12">
    <div class="col s6 m6">
       <div class="card blue darken-1">
            <div class="card-content white-text">
              <span class="card-title"><strong> Qui sommes nous ? </strong></span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively. 
              Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. 
              Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme 
              assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. 
              Il n'a pas fait que survivre cinq siècles,
              mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. </p>
            </div>
            <div class="card-action">
              <a href="http://www.fcpe.asso.fr/">fcpe</a>
            </div>
          </div>
    </div>
    <div class="col s6 m6">
      <div class="card blue darken-1">
            <div class="card-content white-text">
              <span class="card-title"><strong> Dernières nouvelles </strong></span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively. 
              Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. 
              Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme 
              assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. 
              Il n'a pas fait que survivre cinq siècles,
              mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. </p>
            </div>
            <div class="card-action">
              <a href="#">Se connecter</a>
            </div>
          </div>
</div>
  
  <div class="col s12 ">
     <div class="card white darken-1">
            <div class="card-content white-text">
              <span class="card-title teal-text">Connexion au G2C</span>
              <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">vpn_key</i>
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action" >Se connecter
    <i class="material-icons right">send</i></button>
    </form>
  </div>
            </div>
            <div class="card-action">
              <a href="#" >Mot de passe oublié ?</a>
            </div>
          </div>
  </div>
  </div>
</div>
